[user]
  email = aleksy.rudy@icloud.com
  name = Aleksy Rudy
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBR5yQtg98upyN2j9OblklPHCQmOuQVtC8BpTRtrtKnS aleksy.rudy@icloud.com

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

