{
  "numStartups": 6,
  "tipsHistory": {
    "memory-command": 1,
    "new-user-warmup": 5,
    "plan-mode-for-complex-tasks": 1,
    "terminal-setup": 1,
    "theme-command": 3,
    "status-line": 3,
    "prompt-queue": 5,
    "enter-to-steer-in-relatime": 5,
    "todo-list": 5,
    "install-github-app": 5,
    "install-slack-app": 5,
    "drag-and-drop-images": 5,
    "paste-images-mac": 5,
    "double-esc-code-restore": 5,
    "continue": 5,
    "shift-tab": 5,
    "image-paste": 5,
    "desktop-app": 5,
    "web-app": 5,
    "mobile-app": 5,
    "guest-passes": 5,
    "custom-agents": 6,
    "agent-flag": 6
  },
  "promptQueueUseCount": 1,
  "cachedGrowthBookFeatures": {
    "enhanced_telemetry_beta": false,
    "tengu_1p_event_batch_config": {
      "maxExportBatchSize": 200,
      "maxQueueSize": 8192,
      "scheduledDelayMillis": 5000
    },
    "tengu_attribution_header": true,
    "tengu_birthday_hat": false,
    "tengu_cache_plum_violet": true,
    "tengu_chomp_inflection": true,
    "tengu_claudeai_mcp_connectors": true,
    "tengu_code_diff_cli": true,
    "tengu_copper_lantern": true,
    "tengu_copper_lantern_config": {
      "meridian": "2026-02-05T07:59:00Z"
    },
    "tengu_coral_fern": false,
    "tengu_disable_bypass_permissions_mode": false,
    "tengu_event_sampling_config": {},
    "tengu_fgts": false,
    "tengu_keybinding_customization_release": true,
    "tengu_log_datadog_events": true,
    "tengu_log_segment_events": false,
    "tengu_marble_anvil": true,
    "tengu_mcp_elicitation": false,
    "tengu_mcp_tool_search": true,
    "tengu_mulberry_fog": false,
    "tengu_oboe": true,
    "tengu_penguins_enabled": true,
    "tengu_penguins_off": null,
    "tengu_pid_based_version_locking": true,
    "tengu_plan_mode_interview_phase": false,
    "tengu_post_compact_survey": false,
    "tengu_pr_status_cli": true,
    "tengu_prompt_cache_1h_config": {
      "allowlist": [
        "repl_main_thread*",
        "sdk"
      ]
    },
    "tengu_scarf_coffee": false,
    "tengu_scratch": false,
    "tengu_silver_lantern": true,
    "tengu_snippet_save": false,
    "tengu_streaming_tool_execution2": true,
    "tengu_system_prompt_global_cache": true,
    "tengu_thinkback": false,
    "tengu_tool_pear": false,
    "tengu_tool_search_unsupported_models": [
      "haiku"
    ],
    "tengu_tst_names_in_messages": false,
    "tengu_vinteuil_phrase": true,
    "tengu-top-of-feed-tip": {
      "color": "",
      "tip": ""
    },
    "tengu_session_memory": false,
    "tengu_immediate_model_command": false,
    "tengu_cork_m4q": true,
    "tengu_permission_explainer": true,
    "tengu_plank_river_frost": "user_intent",
    "tengu_bergotte_lantern": false,
    "tengu_file_write_optimization": false,
    "tengu_amber_prism": false,
    "tengu_plum_vx3": true,
    "tengu_disable_streaming_to_non_streaming_fallback": false,
    "tengu_marble_lantern_disabled": false
  },
  "cachedChromeExtensionInstalled": false,
  "changelogLastFetched": 1771244668953,
  "claudeCodeFirstTokenDate": "2026-02-15T00:31:47.407286Z",
  "clientDataCache": {
    "data": {
      "explore_agent_variant": "disabled"
    },
    "timestamp": 1771257978956
  },
  "effortCalloutDismissed": true,
  "firstStartTime": "2026-02-16T12:24:47.992Z",
  "groveConfigCache": {
    "904e623e-55cc-450d-9e6e-e0973d72886d": {
      "grove_enabled": true,
      "timestamp": 1771244735326
    }
  },
  "hasCompletedOnboarding": true,
  "hasShownOpus46Notice": {
    "5e982ef3-3a3a-4303-83e7-0dd3844a9e2d": true
  },
  "lastOnboardingVersion": "2.1.42",
  "lastReleaseNotesSeen": "2.1.42",
  "oauthAccount": {
    "accountUuid": "904e623e-55cc-450d-9e6e-e0973d72886d",
    "emailAddress": "hustanie.zefir-2t@icloud.com",
    "organizationUuid": "5e982ef3-3a3a-4303-83e7-0dd3844a9e2d",
    "hasExtraUsageEnabled": false,
    "billingType": "stripe_subscription",
    "accountCreatedAt": "2025-06-11T15:59:39.299776Z",
    "subscriptionCreatedAt": "2026-02-15T00:34:50.056239Z",
    "displayName": "Aleksy"
  },
  "officialMarketplaceAutoInstallAttempted": true,
  "officialMarketplaceAutoInstalled": true,
  "opusProMigrationComplete": true,
  "passesEligibilityCache": {
    "5e982ef3-3a3a-4303-83e7-0dd3844a9e2d": {
      "eligible": true,
      "referral_code_details": {
        "code": "ODBXFNUHqA",
        "campaign": "claude_code_guest_pass",
        "referral_link": "https://claude.ai/referral/ODBXFNUHqA"
      },
      "referrer_reward": null,
      "remaining_passes": 3,
      "timestamp": 1771257173458
    }
  },
  "penguinModeOrgEnabled": false,
  "projects": {
    "/Users/aleksy": {
      "allowedTools": [],
      "disabledMcpjsonServers": [],
      "enabledMcpjsonServers": [],
      "exampleFiles": [],
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "hasTrustDialogAccepted": false,
      "lastAPIDuration": 28348,
      "lastAPIDurationWithoutRetries": 28337,
      "lastCost": 0.165875,
      "lastDuration": 1643722,
      "lastFpsAverage": 0.6,
      "lastFpsLow1Pct": 138.3,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastModelUsage": {
        "claude-haiku-4-5-20251001": {
          "cacheCreationInputTokens": 0,
          "cacheReadInputTokens": 0,
          "costUSD": 0.005607,
          "inputTokens": 5102,
          "outputTokens": 101,
          "webSearchRequests": 0
        },
        "claude-opus-4-6": {
          "cacheCreationInputTokens": 14912,
          "cacheReadInputTokens": 91286,
          "costUSD": 0.16026800000000002,
          "inputTokens": 10,
          "outputTokens": 855,
          "webSearchRequests": 0
        }
      },
      "lastSessionId": "46c5c2dd-daad-4efa-a92c-a9bf0e20e36d",
      "lastSessionMetrics": {
        "frame_duration_ms_avg": 1.6830957390418566,
        "frame_duration_ms_count": 981,
        "frame_duration_ms_max": 13.288459000003058,
        "frame_duration_ms_min": 0.10991699999431148,
        "frame_duration_ms_p50": 1.3404160000063712,
        "frame_duration_ms_p95": 3.889000000010128,
        "frame_duration_ms_p99": 7.14309979999744
      },
      "lastToolDuration": 5464,
      "lastTotalCacheCreationInputTokens": 14912,
      "lastTotalCacheReadInputTokens": 91286,
      "lastTotalInputTokens": 5112,
      "lastTotalOutputTokens": 956,
      "lastTotalWebSearchRequests": 0,
      "mcpContextUris": [],
      "mcpServers": {},
      "projectOnboardingSeenCount": 1
    },
    "/Users/aleksy/Library/Application Support/ClaudeBar/Probe": {
      "hasTrustDialogAccepted": true,
      "lastCost": 0,
      "lastAPIDuration": 0,
      "lastAPIDurationWithoutRetries": 0,
      "lastToolDuration": 0,
      "lastDuration": 4785,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 0,
      "lastTotalOutputTokens": 0,
      "lastTotalCacheCreationInputTokens": 0,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 10.44,
      "lastFpsLow1Pct": 3.59,
      "lastModelUsage": {},
      "lastSessionId": "e3d0b5f5-0bfa-4e95-be9c-26f1e950711d",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 4,
        "frame_duration_ms_min": 2.898458000000005,
        "frame_duration_ms_max": 278.812834,
        "frame_duration_ms_avg": 100.0297915,
        "frame_duration_ms_p50": 59.203936999999996,
        "frame_duration_ms_p95": 253.84514004999994,
        "frame_duration_ms_p99": 273.81929520999995
      }
    },
    "/Users/aleksy/Repozytoria/Personal/template-deno": {
      "allowedTools": [],
      "disabledMcpjsonServers": [],
      "enabledMcpjsonServers": [],
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "hasTrustDialogAccepted": true,
      "mcpContextUris": [],
      "mcpServers": {},
      "projectOnboardingSeenCount": 0
    }
  },
  "s1mAccessCache": {
    "5e982ef3-3a3a-4303-83e7-0dd3844a9e2d": {
      "hasAccess": false,
      "hasAccessNotAsDefault": false,
      "timestamp": 1771257173311
    }
  },
  "userID": "8dcbf992b7e5868fc281c47e64456a7bf83cac179b8b4cbea76c6274e2849118",
  "passesUpsellSeenCount": 0,
  "hasVisitedPasses": false,
  "passesLastSeenRemaining": 3,
  "showSpinnerTree": false,
  "lastPlanModeUse": 1771256941897
}