model = "gpt-5.1-codex-max"
model_provider = "openai"
model_reasoning_effort = "high"
approval_policy = "on-request"
sandbox_mode = "workspace-write"

[features]
rmcp_client = true
view_image_tool = true
web_search_request = true

[tui]
notifications = true

[mcp_servers.apple]
command = "/Applications/iMCP.app/Contents/MacOS/imcp-server"

[mcp_servers.github]
command = "github-mcp-server"
args = ["stdio", "--toolsets=all"]

[mcp_servers.github.env]
GITHUB_PERSONAL_ACCESS_TOKEN = "{{ trim (gopass "github/tokens/personal") }}"

[mcp_servers.genesys]
command = "npx"
args = ["-y", "@makingchatbots/genesys-cloud-mcp-server"]

[mcp_servers.genesys.env]
GENESYSCLOUD_REGION = "{{ trim (gopass "genesys/bnp/region") }}"
GENESYSCLOUD_OAUTHCLIENT_ID = "{{ trim (gopass "genesys/bnp/client/id") }}"
GENESYSCLOUD_OAUTHCLIENT_SECRET = "{{ trim (gopass "genesys/bnp/client/secret") }}"

[mcp_servers.jira]
command = "mcp-atlassian"
args = [
  "--transport=stdio",
  "--jira-url={{ trim (gopass "jira/yarrl/url") }}",
  "--jira-username={{ trim (gopass "jira/yarrl/user") }}",
  "--jira-token={{ trim (gopass "jira/yarrl/token") }}",
]

[mcp_servers.package-registry]
command = "npx"
args = ["-y", "package-registry-mcp"]

[mcp_servers.playwright]
command = "mcp-server-playwright"
args = ["--browser=webkit", "--isolated"]

[mcp_servers.terraform]
command = "terraform-mcp-server"
args = ["stdio"]
