[bnp]
access_token = ''
auto_pagination_enabled = true
client_credentials = 'eca398d4-e274-48ac-bf56-4be6139fd9ca'
client_secret = 'eYGFBCfl1StQlrj-6SdN3hZUBzVwMPWNdJrS1WIgu8o'
environment = 'mypurecloud.de'
gateway_host = ''
gateway_password = ''
gateway_pathparams = '{}'
gateway_port = ''
gateway_protocol = ''
gateway_username = ''
grant_type = '1'
proxy_host = ''
proxy_password = ''
proxy_pathparams = '{}'
proxy_port = ''
proxy_protocol = ''
proxy_username = ''
redirect_uri = ''
secure_login_enabled = false
